@font-face {
	font-family: "Play-Regular";
	src: url("../../fonts/Play-Regular.ttf");
}
.topNavbar {
	background-color: #222;
	display: flex;
	padding: 0 100px;
	/* width: 100vh; */
	height: 55px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

/*==== LOGO NAV =========*/
.topNavbar > div {
	flex: 1;
	line-height: 50px; /* Esta altura debe coincidir con la altura del topNavbar. */
}
.topNavbar > div > .enlace {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

/*==== GLOBAL LINKS =========*/
.topNavbar > .globalLinks {
	display: flex;
	flex: 2;
	align-items: center;
	justify-content: start;
}
.topNavbar > .globalLinks > li {
	list-style: none;
	/* height: 100%; */
	line-height: 50px; /* Esta altura debe coincidir con la altura del topNavbar. */
}
.topNavbar > .globalLinks > li > .enlace {
	color: #fff;
	display: block;
	padding: 0 20px;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: lighter;
	transition: 0.5s;
	text-decoration: none;
}
.topNavbar > .globalLinks > li > .enlace:hover {
	color: #000;
	background-color: #77c7f5;
}

/*==== SESION LINKS =========*/
.topNavbar > .sesionLinks {
	display: flex;
	flex: 3;
	align-items: center;
	justify-content: end;
	margin: 0px;

}
.topNavbar > .sesionLinks > li {
	list-style: none;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 8px 0;
	margin: 0 10px 0 0;
}
.topNavbar > .sesionLinks > li > .enlace {
	color: #000;
	background-color: #eee;
	height: auto;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-radius: 25px;
	transition: 0.3s;
	font-size: 13px;
	text-decoration: none;
}
.topNavbar > .sesionLinks > li > .enlace:hover {
	color: #fff;
	background-color: #77c7f5;
}
.topNavbar > .sesionLinks > li:last-child .enlace {
	background-color: #222;
	border: 2px solid #77c7f5;
	color: #fff;
}
.topNavbar > .sesionLinks > li:last-child .enlace:hover {
	background-color: #eee;
	color: #2684bb;
}
