:root{
    --color1: #0A6847;
    --color2: #F6E9B2;
    --color3: #6DC5D1;
    --color4: #E1ACAC;
    --color5: #7AB2B2;
    --color6: #EEF7FF;
}


#map{
    background-color: #6DC5D1;
    width: 800px;
    height: 60%;
}
.App{
    width: 100%;
    height: 100vh;
}

@font-face {
	font-family: "Play-Regular";
	src: url("./fonts/Play-Regular.ttf");
}

body{
    font-family: "Play-Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

